.main {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.main h1 {
  margin-top: -50px;
}

.main h3{
  margin: 0px 1em ;
}